*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  font-family: "Roboto Mono", monospace;
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.meme-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  padding: 25px;
}

.title {
  width: fit-content;
  position: relative;
  left: 40%;
  font-size: 70px;
  font-weight: bold;
  background: linear-gradient(to right, #ef3a38, #f1ea49, #5dd95d, #3893d2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.button {
  margin: 50px;
  font-family: inherit;
}

.random-button {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 20px 10px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  left: 48%;
  background-color: #dcbaff;
}

.random-button:hover {
  background-color: #6f3bc8;
}
